.content {
  height: 550px;
  width: auto; 
  text-align: center;
  padding: 30px;
  background-color: black;
}
.progress-wrapper {
  position: relative;
  //margin: 20px auto;
  font-size: 20px;

  .text {
    position: absolute;
    color: white;
    font-weight: 100;
    line-height: 1;

    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 26px;
  }

}

round-progress { 
  margin: auto;
  text-align: center;
}

.controls-wrapper {
  text-align: center;
  //margin: auto;
}

.input { 
  text-align: center;
  margin: auto;
  max-width: 200px;
  display: block;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: white;
  -webkit-app-region: drag;
}